{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}
 <style>
      body {
        background-image: url('./images/background-1.jpg');
      }
    </style>

    <div class="row valign-wrapper">


      <aside class="flow-text col m10 s12 l2 hide-on-med-and-down">
        <h2>Where my prose at?!</h2>
      </aside>

      <div class=" col m10 s10 l10 ">

        <div class="row  center-align">

          <div class="login-card card col s12 m10 l5">
            <h2 class="page-title card-title center-align">Login</h2>
            <form class="form login-form">
              <div class=" input-field">
                <input class="form-input" type="text" id="email-login" />
                <label for="email-login">Email:</label>
              </div>
              <div class="form-group input-field">

                <input class="form-input" type="password" id="password-login" />
                <label for="password-login">Password:</label>
              </div>
              <div class="form-group card-action right ">

                <button class="login hoverable waves-effect waves-light btn  teal darken-3" type="submit">login</button>

              </div>
            </form>
          </div>


          <div class="login-card card col s12 m10 l5">
            <h2 class="page-title card-title center-align">Signup</h2>
            <form class="form signup-form">
              <div class="form-group input-field">

                <input class="form-input" type="text" id="username-signup" />
                <label for="username-signup">Username:</label>
              </div>
              <div class="form-group input-field">

                <input class="form-input" type="text" id="email-signup" />
                <label for="email-signup">Email:</label>
              </div>
              <div class="form-group input-field ">

                <input class="form-input" type="password" id="password-signup" />
                <label for="password-signup">Password:</label>
              </div>
              <div class="form-group card-action right">

                <button class="btn  submit hoverable waves-effect waves-light btn teal darken-3"
                  type="submit">signup</button>

              </div>
            </form>
          </div>


        </div>
      </div>

    </div>


<script src="/js/login.js"></script>
